@model HotelManagement.Models.Activities

<!-- Details -->
<div class="amazing-deals">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading text-center">
                    <h2>Activity Details</h2>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mx-auto">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="align-self-center">
                                <div class="content">
                                    <h4>Activity Booking</h4>
                                    <div class="col-6">
                                        <span class="list">
                                            @Html.DisplayNameFor(model => model.GuestName) : @Html.DisplayFor(model => model.GuestName)
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <span class="list">
                                            @Html.DisplayNameFor(model => model.NumberofPeople) : @Html.DisplayFor(model => model.NumberofPeople)
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <span class="list">
                                            @Html.DisplayNameFor(model => model.BookingTime) : @Html.DisplayFor(model => model.BookingTime)
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <span class="list">
                                            @Html.DisplayNameFor(model => model.ActivityName) : @Html.DisplayFor(model => model.ActivityName)
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <span class="list">
                                            @Html.DisplayNameFor(model => model.Confirmed) : @Html.DisplayFor(model => model.Confirmed)
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-8 mx-auto">
                                            <div class="d-flex align-items-center">
                                                <a asp-action="Edit" asp-route-id="@Model?.ActivityID" class="tertiary-button">Edit</a>
                                                <a asp-action="Index" class="secondary-button">Back to Outdoor Activities</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
