@model IEnumerable<HotelManagement.Models.Spa>

<!-- Hero Section -->
<div class="page-heading spa-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Hotel Spa</h4>
                <h2>Amazing Prices &amp; More</h2>
                <div class="border-button"><a href="about.html">Discover More</a></div>
            </div>
        </div>
    </div>
</div>

<!-- Table -->
<div class="container section_gap">
    <div>
        <h4>Your Bookings</h4>
    </div>
    <div class="row">
        <div class="col-8 section-top-border">
            <div class="table-responsive bg-white">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.SpaCustomerName)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.BookingDate)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.StartTime)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.EndTime)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.SpaPackage)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Service)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.IsConfirmed)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SpaCustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookingDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SpaPackage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Service)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsConfirmed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.SpaId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.SpaId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.SpaId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <p>
                <a class="theme-button" asp-action="Create">Add New</a>
            </p>
        </div>
        <div class="col-4">
            <div class="opening-hours-widget mt-50">
                <h6>Opening Hours</h6>
                <ul class="opening-hours">
                    <li>
                        <p>Monday</p>
                        <p>8 AM - 8 PM</p>
                    </li>
                    <li>
                        <p>Tuesday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Wednesday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Thursday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Friday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Saturday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Sunday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Services Start -->
<div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Services</h5>
            <h1 class="mb-0">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Holistic Wellness Experience</h5>
                                <p class="mb-0">
                                    Our hotel spa offers a comprehensive wellness experience designed to rejuvenate your mind, body, and spirit. Our extensive range of treatments includes therapeutic massages, revitalizing facials, and 
                                    luxurious body scrubs, each tailored to meet your specific needs
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center  bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Serene and Luxurious Environment</h5>
                                <p class="mb-0">
                                    The serene ambiance of our spa is meticulously crafted to promote relaxation and well-being. Our modern and elegant facilities feature calming decor, soft lighting, and soothing music, 
                                    creating a sanctuary where you can unwind and de-stress
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-hotel fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Personalized Wellness Programs</h5>
                                <p class="mb-0">
                                    We believe in offering personalized wellness programs tailored to the individual needs of our guests. Our experienced therapists and wellness experts work with you to create a customized spa experience 
                                    that addresses your specific concerns and goals
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-hotel fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Complementary Wellness Amenitiess</h5>
                                <p class="mb-0">
                                    In addition to our spa treatments, we offer a range of complementary wellness amenities designed to enhance your overall experience. Our state-of-the-art fitness center, complete with modern equipment and personal trainers, 
                                    allows you to maintain your fitness routine while traveling
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Left -->
<div class="container">
    <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <h3 class="mb-30 title_color">Left Aligned</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="images/banner1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20 left-align-p">
                        <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Left -->
<div class="container">
    <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <h3 class="mb-30 title_color">Left Aligned</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="images/banner1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20 left-align-p">
                        <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Packages -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Specials</h5>
            <h1 class="mb-4">Specials</h1>
            <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti deserunt tenetur sapiente atque. Magni non explicabo beatae sit, vel reiciendis consectetur numquam id similique sunt error obcaecati ducimus officia maiores.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="images/blog1.jpg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <a href="#" class="h4">Adventures Trip</a>
                        <p class="my-3">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="img/blog-2.jpg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                        <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                            <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                            <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <p class="mb-3">Posted By: Royal Hamblin </p>
                        <a href="#" class="h4">Adventures Trip</a>
                        <p class="my-3">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="images/blog-3.jpg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                        <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                            <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                            <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <p class="mb-3">Posted By: Royal Hamblin </p>
                        <a href="#" class="h4">Adventures Trip</a>
                        <p class="my-3">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="images/blog3.jpg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                        <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                            <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                            <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <p class="mb-3">Posted By: Royal Hamblin </p>
                        <a href="#" class="h4">Adventures Trip</a>
                        <p class="my-3">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


