@model IEnumerable<HotelManagement.Models.Spa>

<!-- Hero Section -->
<div class="page-heading spa-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Hotel Spa</h4>
                <h2>Rejuvenate your senses and replenish your spirit</h2>
            </div>
        </div>
    </div>
</div>

<!-- Table -->
<div class="container section_gap">
    <div>
        <h4>Your Bookings</h4>
    </div>
    <div class="row">
        <div class="col-8 section-top-border">
            <div class="table-responsive bg-white">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.SpaCustomerName)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.BookingDate)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.StartTime)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.EndTime)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.SpaPackage)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Service)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.IsConfirmed)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SpaCustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookingDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SpaPackage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Service)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsConfirmed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.SpaId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.SpaId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.SpaId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <p>
                <a class="theme-button" asp-action="Create">Add New</a>
            </p>
        </div>
        <div class="col-4">
            <div class="opening-hours-widget mt-50">
                <h6>Opening Hours</h6>
                <ul class="opening-hours">
                    <li>
                        <p>Monday</p>
                        <p>8 AM - 8 PM</p>
                    </li>
                    <li>
                        <p>Tuesday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Wednesday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Thursday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Friday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Saturday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Sunday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Services Start -->
<div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Services</h5>
            <h1 class="mb-0">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Holistic Wellness Experience</h5>
                                <p class="mb-0">
                                    Our hotel spa offers a comprehensive wellness experience designed to rejuvenate your mind, body, and spirit. Our extensive range of treatments includes therapeutic massages, revitalizing facials, and 
                                    luxurious body scrubs, each tailored to meet your specific needs
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center  bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Serene and Luxurious Environment</h5>
                                <p class="mb-0">
                                    The serene ambiance of our spa is meticulously crafted to promote relaxation and well-being. Our modern and elegant facilities feature calming decor, soft lighting, and soothing music, 
                                    creating a sanctuary where you can unwind and de-stress
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-hotel fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Personalized Wellness Programs</h5>
                                <p class="mb-0">
                                    We believe in offering personalized wellness programs tailored to the individual needs of our guests. Our experienced therapists and wellness experts work with you to create a customized spa experience 
                                    that addresses your specific concerns and goals
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-hotel fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Complementary Wellness Amenitiess</h5>
                                <p class="mb-0">
                                    In addition to our spa treatments, we offer a range of complementary wellness amenities designed to enhance your overall experience. Our state-of-the-art fitness center, complete with modern equipment and personal trainers, 
                                    allows you to maintain your fitness routine while traveling
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Benefits -->
<div class="container">
    <div class="whole-wrap">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Benefits</h5>
                <h1 class="mb-0">Our Benefits</h1>
            </div>
            <div class="section-top-border">
                <h3 class="mb-30 title_color">Indulge in Tranquility at Our Luxurious Spa</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/img/spa/spa01.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20 left-align-p">
                        <p>
                            Let our expert therapists pamper you with a bespoke selection of treatments, ranging from soothing massages to invigorating facials, all designed to 
                            restore balance to body, mind, and soul. With a range of indulgent amenities and personalized service, our spa promises an unforgettable wellness 
                            experience that will leave you feeling refreshed, revitalized, and ready to take on the world
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<!-- Benefits -->
<div class="container">
    <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <h3 class="mb-30 title_color">Tailored Experiences for Ultimate Relaxation</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/img/spa/spa02.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20 left-align-p">
                        <p>
                            Whether you're seeking a rejuvenating escape from the stresses of daily life or a pampering treat to celebrate a special 
                            occasion, our dedicated team will work with you to craft the perfect spa experience. From personalized wellness 
                            consultations to custom-tailored treatments and rituals, we'll ensure every aspect of your visit is designed to enhance 
                            your well-being and leave you feeling renewed, refreshed, and ready to embrace life's next adventure
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Packages -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Specials</h5>
            <h1 class="mb-4">Specials</h1>
            <p class="mb-0">
                Unwind in our luxurious facilities, featuring serene treatment rooms, a tranquil relaxation lounge, and a 
                steam room to melt away tension
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="~/img/spa/Hot-stone-therapy.jpg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <a href="#" class="h4">Hot Stone Therapy</a>
                        <p class="my-3">
                            Experience the soothing warmth of smooth, heated stones combined with massage techniques 
                            to melt away stress and tension
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="~/img/spa/hydrotherapy.jpg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <a href="#" class="h4">Hydrotherapy</a>
                        <p class="my-3">
                            Immerse yourself in a hydrotherapy session, featuring a combination of water-based treatments like whirlpool baths or Vichy 
                            showers to promote relaxation and rejuvenation
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="~/img/spa/facial-rejuvenation.jpg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <a href="#" class="h4">Facial Rejuvenation</a>
                        <p class="my-3">
                            Revitalize your skin with a customized facial treatment tailored to your specific skin concerns, 
                            leaving you with a radiant complexion
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="~/img/spa/body-scrub.jpeg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <a href="#" class="h4">Body Scrub</a>
                        <p class="my-3">
                            Renew your skin's texture with a luxurious exfoliating treatment, followed by hydrating 
                            moisturizers to leave your skin soft and smooth
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


