@model IEnumerable<HotelManagement.Models.Cinema>

@{
    ViewData["Title"] = "Index";
}

<!-- Hero Section -->
<div class="page-heading cinema-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Hotel Cinema</h4>
                <h2>Indulge in the ultimate movie night experience</h2>
            </div>
        </div>
    </div>
</div>

<!-- Table and Opening Hours -->
<div class="container section_gap">
    <div>
        <h4>Your Viewings</h4>
    </div>
    <div class="row">
        <div class="col-8 section-top-border">
            <div class="table-responsive bg-white">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.GuestName)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.BookingTime)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.MovieTitle)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.NumberOfTickets)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Confirmed)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GuestName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookingTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MovieTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfTickets)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Confirmed)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.CinemaID">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.CinemaID">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.CinemaID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <p>
                <a class="theme-button" asp-action="Create">Add New</a>
            </p>
        </div>
        <div class="col-4">
            <div class="opening-hours-widget mt-50">
                <h6>Opening Hours</h6>
                <ul class="opening-hours">
                    <li>
                        <p>Monday</p>
                        <p>8 AM - 8 PM</p>
                    </li>
                    <li>
                        <p>Tuesday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Wednesday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Thursday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Friday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Saturday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                    <li>
                        <p>Sunday</p>
                        <p>9 AM - 1 PM</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Services Start -->
<div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Services</h5>
            <h1 class="mb-0">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Luxurious Entertainment Experience</h5>
                                <p class="mb-0">
                                    Our hotel cinema offers guests the ultimate entertainment experience, combining luxury with the latest in cinematic technology. With plush seating, state-of-the-art sound and 
                                    projection systems, and an elegant ambiance
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center  bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Diverse Movie Selection</h5>
                                <p class="mb-0">
                                    We pride ourselves on offering a diverse selection of films to cater to all tastes and preferences. Our carefully curated schedule includes a mix of genres, from action-packed thrillers and heartwarming comedies to 
                                    critically acclaimed dramas and family-friendly animations
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-hotel fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Exclusive Screening Events</h5>
                                <p class="mb-0">
                                    Our hotel cinema is renowned for hosting exclusive screening events that offer a unique and immersive movie-going experience. 
                                    Guests can enjoy premiere screenings and director’s cuts 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-hotel fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Convenient Amenities</h5>
                                <p class="mb-0">
                                    o enhance your cinema experience, we offer a range of convenient amenities. Guests can enjoy gourmet snacks and beverages from our cinema concession stand, featuring a selection of artisanal popcorn, 
                                    specialty chocolates, and premium drinks
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cinema Benefits -->
<section>
    <div class="section-top-border">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Benefits</h5>
            <h1 class="mb-0">Cinema Benefits</h1>
        </div>
	    <div class="row">
		    <div class="col-md-4">
			    <div class="single-defination">
				    <h4 class="mb-20">Entertainment Options</h4>
					<p>
                        Staying at a hotel with an in-house cinema offers guests a unique and convenient entertainment option that enhances their overall experience. 
                        Instead of having to search for local movie theaters or deal with the hassle of transportation, guests can enjoy the latest films right within the comfort of their accommodation
                    </p>
				</div>
			</div>
			<div class="col-md-4">
			    <div class="single-defination">
					<h4 class="mb-20">Viewing Experience</h4>
					<p>
                        The hotel cinema also provides an intimate and exclusive viewing experience. Unlike crowded public theaters, hotel cinemas typically offer a 
                        more private setting with fewer seats, creating a cozy and comfortable atmosphere
                    </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="single-defination">
					<h4 class="mb-20">Shared Memories</h4>
					<p>
                        Movie nights often bring together individuals and families who share similar interests, fostering a sense of community within the hotel. This can be especially beneficial for solo travelers or those 
                        looking to make new friends during their trip
                    </p>
				</div>
			</div>
		</div>
    </div>
</section>

<!-- Movie Gallery -->
<!-- Packages -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Specials</h5>
            <h1 class="mb-4">Specials</h1>
            <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti deserunt tenetur sapiente atque. Magni non explicabo beatae sit, vel reiciendis consectetur numquam id similique sunt error obcaecati ducimus officia maiores.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="~/img/cinema/movie1.jpg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <a href="#" class="h4">Kung Fu Panda 4</a>
                        <p class="my-3">Fun adventure for the whole family</p>
                        <a href="#" class="theme-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="~/img/cinema/movie2.jpg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <a href="#" class="h4">Godzilla x Kong - The New Empire</a>
                        <p class="my-3">Action packed mayhem</p>
                        <a href="#" class="theme-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="~/img/cinema/movie3.jpg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <a href="#" class="h4">The Beekeeper</a>
                        <p class="my-3">Action movie featuring Jason Statham</p>
                        <a href="#" class="theme-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="~/img/cinema/movie4.jpg" alt="Image">
                            <div class="blog-icon">
                                <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <a href="#" class="h4">Ghostbusters</a>
                        <p class="my-3">Spooky adventure... I ain't afraid of no ghost!!'</p>
                        <a href="#" class="theme-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



