@model IEnumerable<HotelManagement.Models.Cinema>

@{
    ViewData["Title"] = "Index";
}

<section class="movie-welcome">
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Centered hero</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Experience the magic of the silver screen in our state-of-the-art theater, designed for ultimate comfort and immersion. From blockbuster hits to timeless classics, our carefully curated selection of films caters to every taste and preference. Indulge in gourmet snacks and refreshing beverages from our concessions stand as you lose yourself in the captivating world of cinema.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="dorne-single-listing-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Listing Content -->
                <div class="col-12 col-lg-8">

                    <div class="section-top-border">
						<h3 class="mb-30 title_color">Table</h3>
						<div class="progress-table-wrap">
							<div class="progress-table">
								<div class="table-head">
									<div class="serial">#</div>
									<div class="country">Countries</div>
									<div class="visit">Visits</div>
									<div class="percentage">Percentages</div>
								</div>
								<div class="table-row">
									<div class="serial">01</div>
									<div class="country"> <img src="image/elements/f1.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-1" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">02</div>
									<div class="country"> <img src="image/elements/f2.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-2" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">03</div>
									<div class="country"> <img src="image/elements/f3.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-3" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">04</div>
									<div class="country"> <img src="image/elements/f4.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-4" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">05</div>
									<div class="country"> <img src="image/elements/f5.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-5" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">06</div>
									<div class="country"> <img src="image/elements/f6.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-6" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">07</div>
									<div class="country"> <img src="image/elements/f7.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-7" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">08</div>
									<div class="country"> <img src="image/elements/f8.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-8" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                  
                </div>

                <!-- Listing Sidebar -->
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="listing-sidebar">

                        <!-- Listing Verify -->
                        <div class="listing-verify">
                            <a href="#" class="btn dorne-btn w-100"><i class="fa fa-check pr-3"></i> Verified Listing</a>
                        </div>

                        <!-- Opening Hours Widget -->
                        <div class="opening-hours-widget mt-50">
                            <h6>Opening Hours</h6>
                            <ul class="opening-hours">
                                <li>
                                    <p>Monday</p>
                                    <p>Closed</p>
                                </li>
                                <li>
                                    <p>Tuesday</p>
                                    <p>9 AM - 1 PM</p>
                                </li>
                                <li>
                                    <p>Wednesday</p>
                                    <p>9 AM - 1 PM</p>
                                </li>
                                <li>
                                    <p>Thursday</p>
                                    <p>9 AM - 1 PM</p>
                                </li>
                                <li>
                                    <p>Friday</p>
                                    <p>9 AM - 1 PM</p>
                                </li>
                                <li>
                                    <p>Saturday</p>
                                    <p>9 AM - 1 PM</p>
                                </li>
                                <li>
                                    <p>Sunday</p>
                                    <p>9 AM - 1 PM</p>
                                </li>
                            </ul>
                        </div>

                        <!-- Author Widget -->
                        <div class="author-widget mt-50 d-flex align-items-center">
                            <img src="img/clients-img/1.jpg" alt="">
                            <div class="authors-name">
                                <a href="#">James Smith</a>
                                <p>The Author</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-top-border">
						<h3 class="mb-30 title_color">Definition</h3>
						<div class="row">
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">Definition 01</h4>
									<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">Definition 02</h4>
									<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">Definition 03</h4>
									<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
								</div>
							</div>
						</div>
					</div>

                    <div class="section-top-border">
						<h3 class="title_color">Image Gallery</h3>
						<div class="row gallery-item">
							<div class="col-md-4">
								<a href="image/elements/g1.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(image/elements/g1.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="image/elements/g2.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(image/elements/g2.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="image/elements/g3.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(image/elements/g3.jpg);"></div></a>
							</div>
							<div class="col-md-6">
								<a href="image/elements/g4.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(image/elements/g4.jpg);"></div></a>
							</div>
							<div class="col-md-6">
								<a href="image/elements/g5.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(image/elements/g5.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="image/elements/g6.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(image/elements/g6.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="image/elements/g7.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(image/elements/g7.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="image/elements/g8.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(image/elements/g8.jpg);"></div></a>
							</div>
						</div>
					</div>


    </section>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CinemaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CinemaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CinemaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
